*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea
*.jks
*.keystore
play-service-account*.json
.DS_Store
captures
.externalNativeBuild
.cxx

# compose-preview generated state
.compose-preview-history/
